@import '/src/sass/Variables'

.footer
    padding-top: 15%
    padding-bottom: 15%

    .footer-obj
        align-items: center
        justify-content: center
        

        .grid-container 
            width: 50%
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            align-self: center
            justify-self: center
            border-top: 2px solid #a30707
            border-bottom: 2px solid #a30707
            


        .grid-item 
            font-size: 15px
            align-self: center
            justify-self: center


            

    

